/******************* defaul ********************/
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
p,h1,h3,a,label{
    color: #4A4A4A;
}
$main: #A8B2A1;
$sub: #E6E3DE;
$point: #C97A63;
$text: #4A4A4A;
$text02: white;
$line01: #EAEAEA;
$line02: #DEDCD7;
$font12: 0.75rem;
$font14: 0.875rem;
$font16: 1rem;
$font18: 1.125rem;
$font20: 1.25rem;
$font24: 1.5rem;
$font28: 1.75rem;
$font36: 2.25rem;
$ma8: 8px;
$ma16: 16px;
$ma20: 20px;
$ma24: 24px;
$ma32: 32px;
$ma64: 64px;
$ma72: 72px;
$ma100: 100px;
$ma128: 128px;

@mixin size($width, $height){
    width: $width;
    height: $height;
}

fieldset{
    border: 1px solid $line01;
    border-radius: 10px;
}
/******************* header ********************/
.header_outer{
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: 1px solid $line01;
    z-index: 1000;
    .header{
        @include size(1200px, 80px);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header_left{
            display: flex;
            align-items: center;
            position: relative;
            .logo_img{
                @include size(40px, 40px);
                background-image: url('../images/Roomly.png');
                background-size: cover;
            }
            .brand_name{
                font-size: $font20;
                font-weight: 600;
                margin-right: 40px;
            }
            input{
                @include size(590px, 45px);
                border: 1px solid $line01;
                border-radius: 10px;
                padding: 0 10px 0 45px;
            }
            .zoom_img{
                @include size(25px, 25px);
                background-image: url('../images/zoom.png');
                background-size: cover;
                position: absolute;
                top: 50%;
                left: 165px;
                transform: translateY(-50%);
            }
        }
        .header_right{
            ul{
                display: flex;
                align-items: center;
                li{
                    margin-right: 20px;
                    position: relative;
                    a{
                        font-size: $font14;
                        .shopping_cart_img{
                            @include size(25px, 25px);
                            background-image: url('../images/shopping_cart.png');
                            background-size: cover;
                        }
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                    &::before{
                        content: '|';
                        position: absolute;
                        top: 50%;
                        right: -10px;
                        transform: translateY(-50%);
                        color: $text;
                        font-size: $font12;
                    }
                    &:last-child::before{
                        content: none;
                    }
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

/******************* gnb ********************/
.gnb_outer{
    border-bottom: 1px solid $line01;
    .gnb{
        @include size(1200px, 50px);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .gnb_left{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                margin-right: 20px;
                a{
                    padding: 2px 12px;
                    font-weight: 500;
                    &:hover{
                        font-weight: 600;
                    }
                }
            }
            .gnb_btn{
                font-weight: 500;
                padding: 2px 12px;
                color: $text;
                cursor: pointer;
                &.gnb_btn_on{
                    font-weight: 600;
                }
                &:hover{
                    font-weight: 600;
                }
            }
        }
        .gnb_right{
            overflow: hidden;
            position: relative;
            .rank_slide{
                height: 50px;
                position: relative;
                .rank_wrap{
                    @include size(183px, 50px);
                    display: flex;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
                    p{
                        font-weight: 600;
                        margin-right: 10px;
                    }
                    .new{
                        color: $point
                    }
                    .arrow_img{
                        @include size(13px, 8px);
                        background-image: url('../images/rank_arrow.png');
                        background-size: cover;
                        margin-right: 10px;
                    }
                    .down_arrow_img{
                        @include size(13px, 8px);
                        background-image: url('../images/down_arrow.png');
                        background-size: cover;
                        margin-right: 10px;
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        @include size(17px, 10px);
                        background-image: url('../images/select_arrow.png');
                        background-size: cover;
                    }
                }
            }
        }
        .rank_modal{
            display: none;
            position: absolute;
            top: 50px;
            right: 0;
            padding: $ma20 40px;
            background-color: white;
            border: 1px solid $line01;
            border-radius: 10px;
            z-index: 1000;
            &.rank_open{
                display: block;
            }
            h3{
                font-size: $font24;
                margin-bottom: 10px;
            }
            .rank_wrap{
                @include size(183px, 50px);
                display: flex;
                align-items: center;
                position: relative;
                cursor: pointer;
                p{
                    font-weight: 600;
                    margin-right: 10px;
                }
                .new{
                    color: $point
                }
                .arrow_img{
                    @include size(13px, 8px);
                    background-image: url('../images/rank_arrow.png');
                    background-size: cover;
                    margin-right: 10px;
                }
                .down_arrow_img{
                    @include size(13px, 8px);
                    background-image: url('../images/down_arrow.png');
                    background-size: cover;
                    margin-right: 10px;
                }
            }
        }
    }
}

.gnb_menu_outer{
    width: 100%;
    height: 0;
    background-color: white;
    overflow: hidden;
    transition: all 0.3s ease;
    position: absolute;
    top: 142px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    &.gnb_open{
        height: 150px;
        padding: $ma20 0;
        border-bottom: 1px solid $line01;
    }
    .gnb_menu{
        width: 1200px;
        margin: 0 auto;
        display: flex;
        .sub_menu{
            margin-right: $ma24;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                @include size(98px, 98px);
                background-color: $sub;
                border-radius: 50%;
                border: 3px solid transparent;
                .bed_img{
                    @include size(45px, 45px);
                    background-image: url('../images/bed_icon.png');
                    background-size: cover;
                }
                .table_img{
                    @include size(45px, 45px);
                    background-image: url('../images/desk_icon.png');
                    background-size: cover;
                }
                .sofa_img{
                    @include size(45px, 45px);
                    background-image: url('../images/sofa_icon.png');
                    background-size: cover;
                }
                .cabinet_img{
                    @include size(45px, 45px);
                    background-image: url('../images/cabinet_icon.png');
                    background-size: cover;
                }
                .shelves_img{
                    @include size(45px, 45px);
                    background-image: url('../images/shelves_icon.png');
                    background-size: cover;
                }
                .lamp_img{
                    @include size(45px, 45px);
                    background-image: url('../images/lamp_icon.png');
                    background-size: cover;
                }
                .chair_img{
                    @include size(45px, 45px);
                    background-image: url('../images/chair_icon.png');
                    background-size: cover;
                }
                .closet_img{
                    @include size(45px, 45px);
                    background-image: url('../images/closet_icon.png');
                    background-size: cover;
                }
                .mirror_img{
                    @include size(45px, 45px);
                    background-image: url('../images/mirror_icon.png');
                    background-size: cover;
                }
                .partition_img{
                    @include size(45px, 45px);
                    background-image: url('../images/partition_icon.png');
                    background-size: cover;
                }
            }
            &:hover{
                border: 3px solid $point;
                background-color: rgba($sub,0.5);
                transition: all 0.3s ease;
            }
            &:last-child{
                margin-right: 0;
            }
            p{
                text-align: center;
            }
        }
    }
}


/******************* breadcrumb ********************/
.breadcrumb{
    width: 1200px;
    margin: 20px auto $ma64;
    a{
        font-size: $font14;
        font-weight: 500;
        margin-right: $ma20;
        position: relative;
        &:last-child{
            margin-right: 0;
        }
        &::before{
            content: '>';
            font-size: $font14;
            font-weight: 500;
            position: absolute;
            top: 0;
            right: -15px;
        }
        &:last-child::before{
            content: none;
        }
        &:hover{
            text-decoration: underline;
        }
    }
}

/******************** wrap ********************/
.wrap{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
/******************** sign ********************/

.info_txt01{
    width: 792px;
    margin: 44px auto 5px auto;
    position: relative;
}

.point_txt{
    color: $point;
    font-size: 12px;
    position: absolute;
    top: -20px;
    right: 210px;
}

.sign_box01{
    width: 792px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}

.sign_box01 .name{
    width: 522px;
    font-size: 14px;
    margin-top: 30px;
}

.sign{
    width: 522px;
    margin: 20px auto;
    font-size: 14px;
}

.sign_box01 input{
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    width: 386px;
    border: 1px solid $line01;
}

.detail_title{
    display: inline-block;
    width: 89px;
    margin-right: 19px;
    line-height: 40px;
}

.sign_box01 .detail_title span{
    color: $point;
}

.sign_box01 .userid button{
    width: 88px;
    height: 42px;
    border: none;
    border-radius: 10px;
    background-color: $main;
    color: white;
    position: absolute;
    top: 112px;
    right: 50px;
    cursor: pointer;
    &:hover{
        background-color: $sub;
        color: $text;
        transition: all 0.4s ease;
    }
}

.sign_box01 .id_detail{
    width: 160px;
    font-size: 12px;
    color: #899093;
    margin-left: 115px;
}

.sign_box01 .pw_detail{
    flex-direction: column;
    width: 250px;
    font-size: 12px;
    color: #899093;
    margin-top: 5px;
    margin-left: 115px;
}

.sign_box01 .pw_detail .point{
    color: black;
}

.sign_box01 #pw_chk{
    color:red; 
    font-size:12px; 
    display:none;
    margin-left: 115px;
}

.sign_box01 .address_box .address_top{
    display: flex;
}

.sign_box01 .address_box .address_top label{
    width: 92px;
}

.sign_box01 .address_box .address_top .user_addr{
    width: 270px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid $line01;
}

.sign_box01 .address_box .address_top button{
    width: 88px;
    height: 42px;
    border: none;
    border-radius: 10px;
    background-color: $main;
    color: white;
    margin-left: 20px;
    cursor: pointer;
    &:hover{
        background-color: $sub;
        color: $text;
        transition: all 0.4s ease;
    }
}

.sign_box01 .address_box .address_bottom{
    margin-left: 110px;
    margin-top: 10px;
}

.sign_box01 .address_box .address_bottom input{
    padding-left: 10px;
}

.sign_box01 .address_box .address_bottom input:first-child{
    margin-bottom: -10px;
}

.sign_box01 .address_box .address{
    margin-top: 20px;
}


.sign_box01 .tel select{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid $line01;
    cursor: pointer;
}

.sign_box01 .tel input{
    width: 80px;
    height: 40px;
    position: relative;
}

.sign_box01 .tel button{
    margin-left: 15px;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 42px;
    background-color: $main;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: $sub;
        color: $text;
        transition: all 0.4s ease;
    }
}

.sign_box01 .email{
    margin-bottom: 50px;
}

.info_txt02{
    width: 792px;
    margin: 50px auto 5px auto;
}

.sign_box02{
    width: 792px;
    margin: 0 auto;
}

.sign_box02 .sign input{
    border: 1px solid $line01;
}

.sign_box02 .birth{
    width: 620px;
    display: flex;
    align-items: center;
    margin: 50px auto;
}

.sign_box02 .detail_title02{
    width: 75px;
    margin-right: 10px;
}

.sign_box02 .birth input{
    width: 78px;
    height: 40px;
    border-radius: 10px;
    margin-left: 20px;
    padding-left: 10px;
}


.sign_box02 .txt{
    line-height: 40px;
    margin-left: 5px;
}

.sign_box02 .txt02{
    line-height: 40px;
    margin-left: 1px;
}

#solar, #lunar{
    width: 10px;
    height: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#top, #bottom{
    width: 88px;
    height: 40px;
    border-radius: 10px;
    margin-left:20px;
}

.info_txt03{
    width: 794px;
    margin: 50px auto 5px auto;
}

.sign_box03{
    width: 794px;
    margin: 0 auto;
}

.sign_box03 .total_terms{
    margin-bottom: 30px;
    font-weight: 600;
    margin-top: 30px;
}

.term_box{
    width: 522px;
    margin-left: 108px;
    margin-bottom: 10px;
    font-size: 14px;
    position: relative;
}

.term_box:last-child{
    margin-bottom: 40px;
}

.sign_box03 .term_box input,
.sign_box03 .term_box label,
.sign_box03 .term_box span{
    cursor: pointer;
}

.sign_box03 .term_box .under{
    text-decoration: underline;
}

#term_txt01, #term_txt02, #term_txt03, #term_txt04{
    display: none;
}

#term_txt01:checked ~ .term_txt_box01,
#term_txt02:checked ~ .term_txt_box02,
#term_txt03:checked ~ .term_txt_box03,
#term_txt04:checked ~ .term_txt_box04{
    display: block;
}

.term_txt_box{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(217, 217, 217, 0.5);
    z-index: 1000;
}

.term_sharp{
    width: 522px;
    height: 700px;
    background-color: white;
    border: 1px solid $line01;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -270px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 20px 50px 20px;
}

.term_top{
    position: relative;
}

.term_top p{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.close_img{
    position: absolute;
    top: -20px;
    right: 10px;
    width: 15px;
    height: 15px;
    img{
        @include size(100%, 100%);
    }
}

.term_title{
    font-size: 18px;
    font-weight: 500;
    margin: 50px 0 10px 0;
}

.term_first{
    margin-top: 50px;
}

.sign_btn{
    width: 414px;
    height: 50px;
    font-weight: 500;
    background-color: $main;
    color: white;
    border: none;
    border-radius: 10px;
    display: block;
    margin: 50px auto 100px auto;
    cursor: pointer;
    &:hover{
        background-color: $sub;
        color: $text;
        transition: all 0.4s ease;
    }
}

/******************* quick_menu ********************/
.quick_menu{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    a{
        display: block;
        @include size(50px, 50px);
        cursor: pointer;
        img{
            @include size(100%, 100%);
        }
        &:hover{
            filter: drop-shadow(0 0 6px rgba(0,0,0,0.3));
        }
    }
    .quick_top{
        margin-bottom: 10px;
    }
}

/******************* footer ********************/
.footer_outer{
    background-color: $sub;
    .footer{
        width: 1200px;
        margin: 200px auto 0;
        padding: 40px 0;
        display: flex;
        .customer{
            border-right: 1px solid $line01;
            h3{
                font-size: $font24;
                margin-bottom: $ma20;
            }
            .customer_txt{
                width: 305px ;
                display: flex;
                .customer_left{
                    margin-right: $ma20;
                    .tell{
                        font-size: $font18;
                        font-weight: 600;
                        color: $point;
                    }
                    .time{
                        font-size: $font14;
                    }
                }
                .customer_right{
                    font-size: $font12;
                    .point{
                        font-weight: 500;
                    }
                    button{
                        border: 1px solid $line01;
                        background-color: white;
                        padding: 5px 12px;
                        border-radius: 5px;
                        margin-top: 8px;
                        color: $text;
                    }
                }
            }
        }
        .service{
            width: 305px;
            border-right: 1px solid $line01;
            h3{
                font-size: $font24;
                margin-bottom: $ma20;
                margin-left: $ma20;
            }
            .footer_nav{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                a{
                    display: inline-block;
                    text-align: center;
                    margin-bottom: 10px;
                    font-size: $font12 ;
                }
                .bold{
                    font-weight: 600;
                }
            }
        }
        .company_info{
            width: 590px;
            margin-left: 40px;
            .company_top{
                display: flex;
                .logo_img{
                    @include size(40px, 40px);
                    background-image: url('../images/Roomly.png');
                    background-size: cover;
                }
                h3{
                    font-size: $font24;
                    margin-bottom: $ma20;
                    margin-left: 4px;
                }
            }
            .company_txt{
                font-size: $font12;
            }
            .copyright{
                margin-top: 30px;
                font-size: $font12;
            }
        }
    }
}